@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@400;500;600;700&display=swap');


$fa-font-path: './webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';

@import 'bootstrap/scss/bootstrap';


body {
  font-family: 'Sofia Sans Condensed', 'sans-serif';
}

ul {
  list-style: none;
  padding: 0;
  
}

